<mat-toolbar class="header_bar">
    <nav>
        <a class="main_nav_element" mat-button [routerLink]="['/']">Home</a>
        <a class="main_nav_element">||</a>
        <a class="main_nav_element" mat-button [routerLink]="['/category/culture-and-color']">Culture and Color</a>
        <a class="main_nav_element">||</a>
        <a class="main_nav_element" mat-button [routerLink]="['/category/color-symbolism']">Color Symbolism</a>
        <a class="main_nav_element">||</a>
        <a class="main_nav_element" mat-button [routerLink]="['/category/color-psychology']">Color Psychology</a>
        <a class="main_nav_element">||</a>
        <a class="main_nav_element" mat-button [routerLink]="['/new-post']">New post</a>
    </nav>
</mat-toolbar>