.hero {
    position: relative;
    display: flex;
    height: 500px;
    background-size: cover;
    background-position: center;
    border-radius: 24px;
    background-color: transparent;
    background-image: url('/assets/blogBg.jpg');
    margin: auto;
}


.hero header {
    margin: auto;
    text-align: center;
    z-index: 2;
    color: white !important;
}

.hero .title {
    font-size: 2rem;
    font-weight: bold;
}

.hero .subtitle {
    font-size: 1rem;
    font-weight: normal;
}