label {
    line-height: 2rem;
    font-size: 2rem;

    font-family: 'Roboto Mono', monospace;
}


input,
option {
    font-family: 'Roboto flex', sans-serif;
    line-height: 1.5rem;
    font-size: 1.5rem;
    padding: 5px;
}


.form {
    display: grid;
    grid-gap: 2rem;
    margin-bottom: 20px;
}

.form_input_container {
    display: grid;
    grid-gap: 1rem;
}

.form_input_container>* {
    color: var(--almostBlack);
}




.form_select {
    height: 3rem;
    font-size: 1.5rem;
}