<header class="post_hero">

    <div class="post_title">
        <p class="post_date">{{selectedPost.date | date:'shortDate'}}</p>
        <h1 class="title">{{selectedPost.title}}</h1>
    </div>

    <div class="post_subtitle">
        <h2 class="subtitle">{{selectedPost.excerpt}}</h2>
        <div class="post_sm">
            <a class="post_sm_link" href="https://twitter.com/share?url=https://www.example.com/" target="_blank">
                <img src="assets/twitter.png" alt="Twitter Icon">
                <p>Tweet it</p>
            </a>
            <a class="post_sm_link"
                href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.example.com/&title=[Title of the page]&summary=[Summary of the page]&source=[Source of the page]"
                target="_blank">
                <img src="assets/linkedin.png" alt="LinkedIn icon">
                <p>Link It</p>
            </a>
            <a class="post_sm_link" href="https://www.facebook.com/sharer.php?u=https://www.example.com/"
                target="_blank">
                <img src="assets/facebook.png" alt="Facebook icon">
                <p>Post it</p>
            </a>
        </div>
        <p class="post_author">Author: {{selectedPost.author}}</p>
        <img class="post_img" [src]="selectedPost.image" alt="Hero Post">
    </div>

</header>

<section class="post_content">
    <div>{{selectedPost.text}}</div>
</section>