/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400&family=Roboto+Mono&family=Roboto:wght@300;500&display=swap');

@import "node_modules/quill/dist/quill.core.css";
@import "node_modules/quill/dist/quill.snow.css";

/*
font-family: 'Roboto', sans-serif; **light 300; medium 500**
font-family: 'Roboto Flex', sans-serif; **light 300; regular 400**
font-family: 'Roboto Mono', monospace; **regular 400**
*/
/* Root variables */
:root {
    /* skin variables */
    --surfaceBg: #f8fafd;
    --surfaceHoverBg: #c2e7ff;
    --almostBlack: #060b0b;

    /* structurte variables */
    --onlyDesktopFlex: none;

    /* hero */
    --heroMargin: 150px auto 50px;

    /* wrapper */
    --wrapperPadding: 1rem;

    /* single Post */
    --postSubtitleGTC: 1fr;
    --postsmDisplay: flex;

    /* post list */
    --postListGTC: 1fr;
    --postListFirstChildMaxH: unset;
    --postListFirstChildGTC: unset;


}

/* 768px */
@media (width > 768px) {
    :root {
        /* hero */
        --heroMargin: 150px auto 50px;

        /* wrapper */
        --wrapperPadding: 2rem;

        /* single post */
        --postSubtitleGTC: 3fr 2fr;
        --postsmDisplay: grid;

        /* post list */
        --postListFirstChildMaxH: 350px;
        --postListFirstChildGTC: 1fr 1fr;
    }
}


/* 912px */
@media (width > 912px) {
    :root {

        /* structurte variables */
        --onlyDesktopFlex: flex;


        /* post list */
        --postListGTC: 1fr 1fr;
        --postListGTC: repeat(3, 1fr);
    }
}


/* 1240px */
@media (width > 1240px) {
    :root {
        --wrapperPadding: 0;
    }
}


/* global styles */
h1,
h2,
h3,
h4,
h5,
a,
p,
li {
    color: var(--almostBlack);
}

body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}



/* Titles */
.title {
    font-weight: 400 !important;
    font-size: 5.25rem !important;
    line-height: 5.75rem !important;
}

.subtitle {
    font-weight: 300 !important;
    font-size: 2.5rem !important;
    line-height: 3.25rem !important;
}

.title,
.subtitle {
    font-family: 'Roboto Flex', sans-serif !important;
}

/* buttons */
.btn {
    box-sizing: border-box;
    font-size: 2rem;
    padding: 10px;
    width: max-content;
    margin: auto;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid var(--almostBlack);
    outline: none;
    transition: .25s;
}

.btn.alt {
    border: none;
    border-radius: 0;
}


.btn:hover {
    background-color: var(--surfaceHoverBg);
    border: 1px solid var(--almostBlack);
}

.btn.alt:hover {
    border: transparent;
    border-left: 1px solid var(--almostBlack);
}


/* hero */
.hero {
    margin: var(--heroMargin);
}



/* header component & its scroll animation */
.header_component {
    position: fixed;
    z-index: 3;
    top: 30px;
    left: var(--wrapperPadding);

    width: 100%;
    max-width: 1240px;
    background-color: transparent;
    margin: auto;
    border-radius: 24px;
    transition: .5s;

}

.header_component::after {
    content: '';
    width: 0%;
}


.header_component.scrolled {
    width: 100%;
    max-width: 100%;
    transform: translateX(-2rem);
    top: 0;
    background-color: white;
    border-radius: 0;
}

.header_component.scrolled::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--almostBlack);
    transition: .5s;
    transition-delay: .5s;

}


.header_component.scrolled .header_bar .main_nav_element span {
    color: black;
    font-size: 1rem;
}

/* Post List Layout */
.post_list {
    max-width: 1400px;
    display: grid;
    grid-template-columns: var(--postListGTC);
    grid-gap: 3rem;
    padding-bottom: 2rem;
    margin: auto;
}

.post_list .post_card:nth-child(1) {
    grid-column: 1/-1;
}

.post_list .post_card:nth-child(1) .post_card_content {
    display: grid;
    grid-template-columns: var(--postListFirstChildGTC);
    grid-template-rows: repeat(3, 1fr);
    max-height: var(--postListFirstChildMaxH);
}

.post_list .post_card:nth-child(1) .post_card_content .post_card_image {
    grid-column: 1;
    grid-row: 1/-1;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}